@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*.animate-on-scroll {
  opacity: 0;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0%;
}*/
