<section class="py-12 sm:py-16 lg:py-20 xl:py-24 bg-gray-50">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-xl mx-auto text-center">
      <h2
        class="text-2xl font-semibold tracking-tight text-gray-900 sm:text-3xl lg:text-4xl"
      >
        Reset your password
      </h2>
      <p
        class="mt-4 text-base font-normal leading-7 text-gray-600 lg:text-lg lg:mt-6 lg:leading-8"
      >
        Enter your new password below.
      </p>
    </div>

    <div class="max-w-lg mx-auto mt-4 sm:mt-4">
      <div class="p-6 sm:px-8">
        <form [formGroup]="passwordForm" class="mt-10">
          <div class="space-y-4">
            <div>
              <label for="" class="sr-only">New Password</label>
              <app-text-input
                [type]="'password'"
                [formControl]="passwordForm.get('newPassword')"
                [placeholder]="'New Password'"
                [label]="'new password'"
                [icon]="'pi pi-lock'"
              />
            </div>
            <div>
              <label for="" class="sr-only">Confirm Password</label>
              <app-text-input
                [type]="'password'"
                [formControl]="passwordForm.get('confirmPassword')"
                [placeholder]="'Confirm Password'"
                [label]="'confirm password'"
                [icon]="'pi pi-lock'"
              />
            </div>
          </div>

          <div class="relative mt-8">
            <div class="absolute -inset-2">
              <div
                class="w-full h-full mx-auto opacity-30 blur-lg filter"
              ></div>
            </div>

            <button
              [disabled]="!passwordForm.valid"
              (click)="passwordForm.valid && resetPassword()"
              class="relative flex items-center justify-center w-full px-8 py-4 text-base font-bold text-white transition-all duration-200 bg-gray-900 border border-transparent rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 font-pj hover:bg-gray-600"
            >
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
