<body>
  <article class="content-container">
    <div class="login-card">
      <div class="header">
        <img class="company-logo" />
        <h2 class="text">Recover your account</h2>
      </div>

      <p class="text">
        Reset your account login info (Token was sent to your email)
      </p>
      <form [formGroup]="resetForm" class="form-container">
        <div class="form-control-group">
          <app-text-input
            [type]="'text'"
            [formControl]="resetForm.controls['token']"
            [label]="'token'"
            [placeholder]="'Token'"
            class="form-control-container"
          ></app-text-input>
        </div>
        <div class="form-control-group">
          <app-text-input
            [type]="'text'"
            [formControl]="resetForm.controls['password']"
            [label]="'password'"
            [placeholder]="'New Password'"
            class="form-control-container"
          ></app-text-input>
        </div>
        <button
          class="btn"
          [disabled]="!resetForm.valid"
          (click)="resetForm.valid && reset()"
        >
          Update Password
        </button>
      </form>
    </div>
  </article>
</body>
