body {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  color: var(--darkest-gray);
  margin-bottom: 1rem;
}

ul {
  padding-left: 1rem;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
