<div
  class="mt-8 px-3 py-2 bg-white dark:bg-neutral-900 border border-gray-200 dark:border-neutral-600 rounded-lg"
>
  <nav class="flex flex-wrap gap-4">
    <a
      routerLink="/dashboard/profile"
      routerLinkActive="text-gray-900 bg-gray-100"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-500 transition-all duration-200 rounded-lg group whitespace-nowrap"
    >
      Profile
    </a>

    <a
      routerLink="/dashboard/team"
      routerLinkActive="text-gray-900 bg-gray-100"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-500 transition-all duration-200 rounded-lg group whitespace-nowrap"
    >
      Team
    </a>

    <a
      routerLink="/dashboard/billing"
      routerLinkActive="text-gray-900 bg-gray-100"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-500 transition-all duration-200 rounded-lg group whitespace-nowrap"
    >
      Billing
    </a>
  </nav>
</div>
