<app-nav></app-nav>
<body class="bg-gray-50 text-gray-900 pb-4 leading-relaxed">
  <div
    class="container mx-auto p-2 relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8"
  >
    <h1 class="text-4xl font-bold mb-4">Terms of Service</h1>
    <p class="text-sm text-gray-600">Last updated: May 23, 2024</p>

    <p>
      Welcome to {{ saasName }}! These terms and conditions outline the rules
      and regulations for the use of {{ saasName }} LLC's Website, located at
      <a href="{{ saasUrl }}" target="_blank">{{ saasUrl }}</a
      >.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Acceptance of Terms</h2>
    <p>
      By accessing this website, we assume you accept these terms and
      conditions. Do not continue to use {{ saasName }} if you do not agree to
      take all of the terms and conditions stated on this page.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Definitions</h2>
    <p>For the purposes of these Terms of Service:</p>
    <ul>
      <li>
        <p>
          <strong>Account</strong> means a unique account created for You to
          access our Service or parts of our Service.
        </p>
      </li>
      <li>
        <p>
          <strong>Company</strong> (referred to as either "the Company", "We",
          "Us" or "Our" in this Agreement) refers to {{ saasName }} LLC,
          Makakatlela.
        </p>
      </li>
      <li>
        <p><strong>Service</strong> refers to the Website.</p>
      </li>
      <li>
        <p>
          <strong>Website</strong> refers to verified-plots.com, accessible from
          <a href="{{ saasUrl }}" target="_blank">{{ saasUrl }}</a>
        </p>
      </li>
      <li>
        <p>
          <strong>You</strong> means the individual accessing or using the
          Service, or the company, or other legal entity on behalf of which such
          individual is accessing or using the Service, as applicable.
        </p>
      </li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4">Accounts</h2>
    <p>
      When You create an account with Us, You must provide Us information that
      is accurate, complete, and current at all times. Failure to do so
      constitutes a breach of the Terms, which may result in immediate
      termination of Your account on Our Service.
    </p>

    <p>
      You are responsible for safeguarding the password that You use to access
      the Service and for any activities or actions under Your password, whether
      Your password is with Our Service or a Third-Party Social Media Service.
    </p>

    <p>
      You agree not to disclose Your password to any third party. You must
      notify Us immediately upon becoming aware of any breach of security or
      unauthorized use of Your account.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Intellectual Property</h2>
    <p>
      The Service and its original content, features and functionality are and
      will remain the exclusive property of {{ saasName }} LLC and its
      licensors.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Links to Other Websites</h2>
    <p>
      Our Service may contain links to third-party websites or services that are
      not owned or controlled by the Company.
    </p>
    <p>
      The Company has no control over, and assumes no responsibility for, the
      content, privacy policies, or practices of any third party websites or
      services. You further acknowledge and agree that the Company shall not be
      responsible or liable, directly or indirectly, for any damage or loss
      caused or alleged to be caused by or in connection with use of or reliance
      on any such content, goods or services available on or through any such
      websites or services.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Termination</h2>
    <p>
      We may terminate or suspend Your account immediately, without prior notice
      or liability, for any reason whatsoever, including without limitation if
      You breach the Terms.
    </p>
    <p>
      Upon termination, Your right to use the Service will cease immediately. If
      You wish to terminate Your account, You may simply discontinue using the
      Service.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Limitation of Liability</h2>
    <p>
      To the maximum extent permitted by applicable law, in no event shall
      {{ saasName }}
      LLC or its suppliers be liable for any indirect, incidental, special,
      consequential or punitive damages, including without limitation, loss of
      profits, data, use, goodwill, or other intangible losses, resulting from
      (i) Your use or inability to use the Service; (ii) any unauthorized access
      to or use of our servers and/or any personal information stored therein;
      (iii) any interruption or cessation of transmission to or from the
      Service; (iv) any bugs, viruses, trojan horses, or the like that may be
      transmitted to or through our Service by any third party; (v) any errors
      or omissions in any content or for any loss or damage incurred as a result
      of the use of any content posted, emailed, transmitted, or otherwise made
      available through the Service; and/or (vi) any other matter relating to
      the Service.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Disclaimer</h2>
    <p>
      Your use of the Service is at Your sole risk. The Service is provided on
      an "AS IS" and "AS AVAILABLE" basis. The Service is provided without
      warranties of any kind, whether express or implied, including, but not
      limited to, implied warranties of merchantability, fitness for a
      particular purpose, non-infringement or course of performance.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Governing Law</h2>
    <p>
      These Terms shall be governed and construed in accordance with the laws of
      Botswana, without regard to its conflict of law provisions.
    </p>
    <p>
      Our failure to enforce any right or provision of these Terms will not be
      considered a waiver of those rights. If any provision of these Terms is
      held to be invalid or unenforceable by a court, the remaining provisions
      of these Terms will remain in effect. These Terms constitute the entire
      agreement between us regarding our Service, and supersede and replace any
      prior agreements we might have between us regarding the Service.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Changes</h2>
    <p>
      We reserve the right, at Our sole discretion, to modify or replace these
      Terms at any time. If a revision is material, We will try to provide at
      least 30 days' notice prior to any new terms taking effect. What
      constitutes a material change will be determined at Our sole discretion.
    </p>
    <p>
      By continuing to access or use Our Service after those revisions become
      effective, You agree to be bound by the revised terms. If You do not agree
      to the new terms, in whole or in part, please stop using the website and
      the Service.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
    <p>If you have any questions about these Terms, You can contact us:</p>
    <ul>
      <li>
        By visiting this page on our website:
        <a href="{{ saasUrl }}support" target="_blank">{{ saasUrl }}support</a>
      </li>
    </ul>
  </div>
</body>
