<body>
  <div class="container">
    <aside class="sidebar bg-gray-50 border-r border-gray-200">
      <div>
        <div class="brand-section border-b border-gray-200">
          <img src="../../../../assets/images/yourlogo.svg" routerLink="/" />
        </div>
        <div class="control-container">
          <div
            class="profile-container border border-gray-200 hover:bg-gray-200 rounded-md"
            (click)="op.toggle($event)"
          >
            <img
              *ngIf="profile.photoUrl"
              class="w-8 h-8 rounded-md"
              src="{{ profile.photoUrl }}"
            />
            <div
              *ngIf="!profile.photoUrl"
              class="bg-gray-200 flex text-gray-600 w-8 h-8 rounded-md justify-center items-center"
            >
              <i class="pi pi-user"></i>
            </div>
            <p class="text">{{ profile.firstName }} {{ profile.lastName }}</p>
            <i class="pi pi-chevron-down text"></i>
            <p-overlayPanel #op [style]="{ 'margin-top': '.5rem' }">
              <div
                class="border border-gray-300 rounded-lg text-gray-700 text-sm w-40"
              >
                <ul class="flex flex-col p-2">
                  <li
                    routerLink="/dashboard/profile"
                    class="w-full rounded-md p-2 hover:bg-gray-200 cursor-pointer"
                    (click)="op.toggle($event)"
                  >
                    Profile
                  </li>
                  <li
                    routerLink="/dashboard/team"
                    class="w-full rounded-md p-2 hover:bg-gray-200 cursor-pointer"
                    (click)="op.toggle($event)"
                  >
                    Team
                  </li>
                  <li
                    routerLink="/dashboard/billing"
                    class="w-full rounded-md p-2 hover:bg-gray-200 cursor-pointer"
                    (click)="op.toggle($event)"
                  >
                    Billing
                  </li>
                  <li
                    (click)="logout()"
                    class="w-full rounded-md p-2 hover:bg-gray-200 cursor-pointer"
                    (click)="op.toggle($event)"
                  >
                    Logout
                  </li>
                </ul>
              </div>
            </p-overlayPanel>
          </div>
          <div
            routerLink="/dashboard/notifications"
            class="relative cursor-pointer p-1 hover:bg-gray-200 rounded-md"
          >
            <i class="pi pi-bell text-xl"></i>
            <span
              *ngIf="notificationCount > 0"
              class="inline-flex items-center px-1.5 absolute -top-px -right-1 py-0.5 rounded-full text-xs font-semibold bg-indigo-600 text-white"
            >
              {{ notificationCount }}
            </span>
          </div>
        </div>

        <ul class="sidebar-options">
          <a
            routerLink="/dashboard"
            [routerLinkActive]="['text-white', 'bg-indigo-700']"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center px-2 py-2.5 text-md font-medium transition-all duration-200 text-gray-900 rounded-lg hover:bg-gray-200 group"
          >
            <i class="pi pi-clock mr-3 text-xl"></i>
            Recents
          </a>
          <a
            routerLink="/dashboard/library"
            [routerLinkActive]="['text-white', 'bg-indigo-700']"
            class="flex items-center px-2 py-2.5 text-md font-medium transition-all duration-200 text-gray-900 rounded-lg hover:bg-gray-200 group"
          >
            <i class="pi pi-book mr-3 text-xl"></i>
            Library
          </a>
          <a
            routerLink="/dashboard/trash"
            [routerLinkActive]="['text-white', 'bg-indigo-700']"
            class="flex items-center px-2 py-2.5 text-md font-medium transition-all duration-200 text-gray-900 rounded-lg hover:bg-gray-200 group"
          >
            <i class="pi pi-trash mr-3 text-xl"></i>
            Recently Deleted
          </a>
        </ul>
      </div>

      <ul class="sidebar-options bottom border-t border-gray-200">
        <a
          (click)="share()"
          class="flex items-center px-2 py-2.5 text-md font-medium transition-all duration-200 text-gray-900 rounded-lg hover:bg-gray-200 group"
        >
          <i class="pi pi-share-alt mr-3 text-xl"></i>
          Tell Your Friends
        </a>
        <a
          class="flex items-center px-2 py-2.5 text-md font-medium transition-all duration-200 text-gray-900 rounded-lg hover:bg-gray-200 group"
        >
          <i class="pi pi-box mr-3 text-xl"></i>
          Suggestion Box
        </a>
        <a
          class="flex items-center px-2 py-2.5 text-md font-medium transition-all duration-200 text-gray-900 rounded-lg hover:bg-gray-200 group"
        >
          <i class="pi pi-star mr-3 text-xl"></i>
          Rate Us
        </a>

        <p-selectButton
          [options]="justifyOptions"
          [(ngModel)]="value"
          optionLabel="icon"
        >
          <ng-template let-item pTemplate>
            <i [class]="item.icon"></i>
          </ng-template>
        </p-selectButton>
      </ul>
    </aside>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
