/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/*Prime ng icons*/
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base, primeng, app;

@layer base {
  * {
    font-family: "Lexend", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  * {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
  }

  body {
    min-height: 100vh;
    background-color: rgb(249 250 251 / 100%);
  }
}
